extends layout

block content
  .container
    #index
      h2.h2 Welcome to [Movie reviews]
      p To learn more about our features, hit the button bellow.
      a.button.button--xl(href="/documentation") Go to the docs
